.main-section {
    display: flex;
    flex-direction: row;
}
.square {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
}

.circle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}
